@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
    --font-sans: var(--font-quicksand);
}

@keyframes pulse-subtle {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

.animate-pulse-subtle {
    animation: pulse-subtle 4s ease-in-out infinite;
}

@keyframes jiggle {
    0%,
    100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-1deg);
    }
    75% {
        transform: rotate(1deg);
    }
}

.hover\:animate-jiggle:hover {
    animation: jiggle 0.5s ease-in-out;
}

body {
    font-family: var(--font-quicksand), sans-serif;
    font-weight: 600;
}
